<ul>
  <hr />
  <h1 class='display-1'>{{name}}</h1>
  <hr />

  <br />
  <h4><strong>Users</strong></h4>
  <br />
  {{#each users}}
    <span class='badge text-bg-dark'>{{id}}</span>
    <span class='badge text-bg-danger'>{{name}}</span>
    <span class='badge text-bg-light'>{{gender}}</span>
    <span class='badge text-bg-warning'>{{age}}</span>
    <br />
    <br />
    <ul>
      <h5><strong>Friends</strong></h5>
      <br />
      {{#each friends}}
        <span class='badge text-bg-dark'>{{id}}</span>
        <span class='badge text-bg-success'>{{name}}</span>
        <span class='badge text-bg-light'>{{gender}}</span>
        <span class='badge text-bg-warning'>{{age}}</span>
        <br />

        <ul>
          <div><strong>Mutual_friends</strong></div>

          <ul>
            {{#each mutual_friends}}
              <span class='badge text-bg-dark'>{{id}}</span>
              <span
                class='badge text-bg-primary'
              >{{name}}</span>
              <span
                class='badge text-bg-light'
              >{{gender}}</span>
              <span
                class='badge text-bg-warning'
              >{{age}}</span>
              <ul>
                {{#each mutual_friends}}
                  <span
                    class='badge text-bg-secondary'
                  >{{id}}</span>
                  <span
                    class='badge text-bg-info'
                  >{{name}}</span>
                  <span
                    class='badge text-bg-light'
                  >{{gender}}</span>
                  <span
                    class='badge text-bg-warning'
                  >{{age}}</span>
                {{/each}}
              </ul>
            {{/each}}
          </ul>
          <br />
        </ul>

        <ul>
          <div><strong>Groups</strong></div>
          {{#each groups}}
            <span class='badge text-bg-dark'>{{id}}</span>
            <span
              class='badge text-bg-success'
            >{{name}}</span>
            <span
              class='badge text-bg-light'
            >{{description}}</span>
            <br />

            <ul>
              <div><strong>Members</strong></div>
              <ul>
                {{#each members}}
                  <span
                    class='badge text-bg-secondary'
                  >{{id}}</span>
                  <span
                    class='badge text-bg-info'
                  >{{name}}</span>
                  <span
                    class='badge text-bg-light'
                  >{{gender}}</span>
                  <span
                    class='badge text-bg-warning'
                  >{{age}}</span>
                {{/each}}
              </ul>
              <br />
            </ul>
          {{/each}}
        </ul>
      {{/each}}
      <br />
    </ul>
  {{/each}}
</ul>