{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='m-5'>
  {{#with form}}
    {{!-- <div class='card'>
      {{#with head}}
        <div class='row p-1'>
          <div class='col-9'>{{name}}</div>
          <div class='col-3'>{{project_name}}</div>
        </div>
      {{/with}}
    </div> --}}
    <br />

    <div>
      {{#with list}}
        <h3>{{title}}</h3>
        <br />
        <p>{{description}}</p>
        <br />
        {{#each buttons}}
          <div class='col-4'>
            <a
              style='width: 160px;'
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>
          </div>
          <br />
        {{/each}}
      {{/with}}
    </div>

  {{/with}}
</div>

{{!
Цей код містить лише те, що буде виводитись в
<body>
  Адже наш layout/default.hbs має вже структуру HTML
}}