<div>
  <ul>
    <div><h2>{{name}}</h2></div>
    <br />
    <div>{{description}}</div>

    <hr />

    <div><mark><strong>History</strong></mark></div>
    <br />
    <ul>
      {{#with history}}
        <li>
          <div>{{year}}</div>
          <div>{{founder}}</div>
        </li>
      {{/with}}
    </ul>
    <br />

    <div><mark><strong>Types</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#each types}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <br />
    <div><mark><strong>Syntax</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#with syntax}}
          <li>
            <div><em>Variables</em></div>
            {{#each variables}}
              ({{this}})
            {{/each}}
          </li>
          <br />
          <li>
            <div><em>Functions</em></div>
            {{#each functions}}
              ({{this}})
            {{/each}}
          </li>
          <br />
          <li>
            <div><em>Conditionals</em></div>
            {{#each conditionals}}
              ({{this}})
            {{/each}}
          </li>
          <br />
          <li>
            <div><em>Loops</em></div>
            {{#each loops}}
              ({{this}})
            {{/each}}
          </li>
          <br />
          <li>
            <div><em>Classes</em></div>
            {{#each classes}}
              ({{this}})
            {{/each}}
          </li>
        {{/with}}
      </ul>
    </div>
    <br />

    <div><mark><strong>Features</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#each features}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
    <br />

    <div><mark><strong>Libraries</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#each libraries}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
    <br />

    <div><mark><strong>Tools</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#each tools}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
    <br />

    <div><mark><strong>Community</strong></mark></div>
    <br />
    <div>
      <ul>
        {{#each community}}
          <li>{{name}} ({{type}})</li>
        {{/each}}
      </ul>
    </div>
    <br />

  </ul>
</div>