<div>
  <nav aria-label='breadcrumb'>
    <ul class='breadcrumb'>
      {{#each breadcrumb}}

        {{#if @last}}
          <li
            class='breadcrumb-item active'
            aria-current='page'
          >{{name}}</li>
        {{else}}
          <li class='breadcrumb-item'><a
              style='text-decoration: none;'
              href='{{url}}'
            >{{name}}</a></li>
        {{/if}}
      {{/each}}
    </ul>
  </nav>
</div>

<div class='p-3'>
  <h1>{{header}}</h1>
</div>

<div>
  <div class='row p-3'>
    {{#each sortBlock}}
      <div class='col-4'>
        <select
          class='form-select'
          aria-label='Default select example'
        >
          <option selected>{{placeholder}}</option>
          {{#each options}}
            <option value='{{value}}'>{{text}}</option>
          {{/each}}
        </select>
      </div>
    {{/each}}
  </div>
</div>

<div>
  <div class='col-4 p-3'>
    <div class='card'>
      {{#with filterBlock}}
        <div class='p-2'>
          {{#with sellers}}
            <h6>{{title}}</h6>
            {{#each list}}
              <div class='form-check'>
                <input
                  class='form-check-input'
                  type='checkbox'
                  value=''
                  id='flexCheckDefault'
                />
                <label
                  class='form-check-label'
                  for='flexCheckDefault'
                >
                  {{value}}
                </label>
              </div>
              <div class='form-check'>
                <input
                  class='form-check-input'
                  type='checkbox'
                  value=''
                  id='flexCheckChecked'
                  checked
                />
                <label
                  class='form-check-label'
                  for='flexCheckChecked'
                >
                  Checked checkbox
                </label>
              </div>
            {{/each}}
          {{/with}}
        </div>
      {{/with}}
    </div>

  </div>
</div>