
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      {{#each breadcrumb}}
      
      {{#if @last}} 
      <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
      {{else}}
      <li class="breadcrumb-item"><a href="{{url}}">{{name}}</a></li>
      {{/if}}
      {{/each}}
    </ul>
  </nav>

<div class="row m-2">
  <div class="col-5">
      {{#with productData}}
      <div>
        <img src='{{img}}' class='card-img-top' alt=''/>
      </div>
      <br />
      <div>
        {{#with info}}
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>{{title}}</h5>
              <p class='card-text'>{{about}}</p>
              <h4><strong>{{price}}</strong></h4>
              <div>
                {{#each category}}
                {{#if isHot}}
                <span class="badge rounded-pill text-bg-warning">{{name}}</span>
                {{/if}}
                {{#if isNew}}
                <span class="badge rounded-pill text-bg-primary">{{name}}</span>
                {{/if}}
                {{#if isBonus}}
                <span class="badge rounded-pill text-bg-info">{{name}}</span>
                {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
          <br>
        {{/with}}
      </div>
       
  </div> 
<br>
    <div class="col-5">
      <div >
        {{#with item}}
          <table class="table">
            <thead>
              <tr>
                {{#each head}}
                <th>{{this}}</th>
                {{/each}}
              </tr>
            </thead>
             <tbody>
              {{#each body}}
              <tr>
                {{#with this}}
                <th>{{this.[0]}}</th>
                <td>{{this.[1]}}</td>
                <td>{{this.[2]}}</td>
                {{/with}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        {{/with}}
      </div>

      <div >
        <ul class="list-group">
        <li class="list-group-item list-group-item-light">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      </div>
    </div>   
      <section>
        <div class="card p-2">
        <div>
          {{#each actionList}}
 
            {{#if isWarning}}
            <button type="button" class="btn btn-warning">{{name}}</button>
            {{/if}}
            {{#if isError}}
            <button type="button" class="btn btn-outline-danger">{{name}}</button>
            {{/if}}
            {{#if isSuccess}}
            <button type="button" class="btn btn-success">{{name}}</button>
            {{/if}}
            {{#if isGood}}
            <button type="button" class="btn btn-outline-success">{{name}}</button>
            {{/if}}
          
          {{/each}}
        </div>
      </div>
      </section>
  {{/with}}
</div>







<section>
  {{#with newsData}}
  <div class="card mb-4">
    <img src="{{photo}}" class="card-img-top" alt="...">
    <div>
      <div class="card-head p-1">
        {{#with head}}  
          <h1 class="card-title">{{heading}}</h5>
          <p class="card-text">{{description}}</p>
        {{/with}} 
      </div>
      <br>
      <div class="card-body p-1">
        {{#each body}}
        <h4>{{title}}</h1>
        <p>{{text}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  {{/with}}
</section>

<section>
  {{#with newsOtherBlock}}
    <h2 class='text-center'>{{title}}</h2>
<br>
    <div class='row'>
      {{#each cards}}
        <div class='col-3'>
          <div class='card text-bg-light'>
            <div class='card-header'>{{title}}
              {{#if isTop}}<span class='badge text-bg-danger'
                >Top</span>{{/if}}
              {{#if isNew}}<span class='badge text-bg-success'
                >New</span>{{/if}}
            </div>
            <div class='card-body'>
              <p class='card-text'>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>
<hr />
<br>
<section>
  <div class="card text-bg-success" >
    {{#with service}}
    <div class="card-body text-center">
      <p class="h2">{{title}}</p>
      <p class="card-text">{{description}}</p>
      <div>
         {{#each buttons}}
          <a href={{link}} class="btn btn-primary">{{text}}</a>
         {{/each}} 
      </div>   
    </div>
    {{/with}}
  </div>
</section>
<br>
<hr>








