<section>
  <div>
      <h1>{{header}}</h1>
  </div>
</section>



<div class="row p-3">
  <div class="col-8">
    <div>
      <div>
      {{#with contacts_data}}
        <h3>{{title}}</h3>
      </div>  
        <div class="pt-2">
          {{#each buttons}}
            {{#if isPrimary}}
            <button style="color: white;" type="button" class="btn btn-warning">{{text}}</button>
            {{/if}}
            {{#if isOutline}}
            <button type="button" class="btn btn-outline-warning">{{text}}</button>
            {{/if}}
          {{/each}}
        </div>
        
        {{!-- <div class="row g-5"> --}}
          <div class="pt-2">
            {{#with form}}
              {{#with input}}
                  <div class="row pt-1">
                      <div class="col-6">
                      {{#with surname}}
                          <label class="form-label">{{label}}</label>
                          <input class="form-control" placeholder={{placeholder}}>
                          <div class="form-text">{{caption}}</div>
                      {{/with}}
                      </div>
                      <div class="col-6">
                      {{#with name}}
                          <label class="form-label">{{label}}</label>
                          <input class="form-control" placeholder={{placeholder}}>
                          <div class="form-text">{{caption}}</div>
                      {{/with}}
                      </div>
                      <div class="col-6">
                      {{#with phone}}
                          <label class="form-label">{{label}}</label>
                          <input class="form-control" placeholder={{placeholder}}>
                          <div class="form-text">{{caption}}</div>
                      {{/with}}
                      </div>
                      <div class="col-6">
                      {{#with email}}
                          <label class="form-label">{{label}}</label>
                          <input class="form-control" placeholder={{placeholder}}>
                          <div class="form-text">{{caption}}</div>
                      {{/with}}
                      </div>
                  </div>         
              {{/with}}
              <br>
              <hr>
              <br>
              <div>
                {{#each switch}}
                  <div class="form-check form-switch">
                    <label class="form-check-label">{{text}}</label>
                    <input name="choose" class="form-check-input" type="checkbox" {{#if isActive}}checked{{/if}}>
                  </div> 
                {{/each}}
              </div>
              <br>
              <hr>

            {{/with}}
          </div>
        {{!-- </div> --}}
        <br>
        
      {{/with}}
    </div>

    <div>
      <div>
          {{#with delivery}}
            <h3>{{title}}</h3>
            
            <div class="card p-2">
              <div class="row">
                  {{#each select}}
                  <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">{{label}}</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>{{placeholder}}</option>
                        <div>
                          {{#each options}}
                            <option value="{{value}}">{{text}}</option>
                          {{/each}}
                        </div>

                      </select>
                    </div>
                  {{/each}}
              </div>    
            </div>

            {{!-- <div>
              {{#each delivery_type}}
              {{/each}}
            </div> --}}
            <hr>

            {{!-- <div>
              {{#with payment}}
              {{/with}}
            </div> --}}

          {{/with}}
        </div>
    </div>

  </div>

  <div class="col-4">
    <div class="card p-1">
      {{#each action_block}}
      <div class="bt-1 p-1">
        {{#if isSuccess}} 
        <button type="button" class="btn btn-success">{{text}}</button> 
        {{/if}}
        
        {{#if isDanger}} 
        <button type="button" class="btn btn-danger">{{text}}</button>
        {{/if}}
      
        {{#if isInfo}} 
        <button type="button" class="btn btn-info">{{text}}</button>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <br>

    <div class="card">
      <div class="m-2">
        {{#with total}}

          <h3>{{title}}</h3>
          <div>
            {{#each item_list}}
            <div>{{name}} : {{price}}</div>
            {{/each}}
          </div>
          <hr>
          <div>
            {{#each additional_info}}
            <div>{{text}} : {{value}}</div>
            {{/each}}
          </div>
          <hr>
          <div>
            {{#with total_price}}
            <div>{{text}} : {{value}}</div>
            {{/with}}
          </div>
          <hr>
          <div>
            {{#each button}}
              {{#if isPrimary}}
              <button type="button" class="btn btn-primary mb-2">{{text}}</button>
              {{/if}}
              {{#if isOutline}}
              <button type="button" class="btn btn-outline-primary mt-2">{{text}}</button>
              {{/if}}
            {{/each}}
          </div>

        {{/with}}
      </div>
    </div>
  </div>

</div>

 
 