
<section>
  {{#with newsBlock}}
    <h2 class='text-center'>{{title}}</h2>

    <div class='row'>
      {{#each cards}}
        <div class='col-3'>
          <div class='card text-bg-light'>
            <div class='card-header'>{{title}}
              {{#if isTop}}<span
                  class='badge text-bg-danger'
                >Top</span>{{/if}}
              {{#if isNew}}<span
                  class='badge text-bg-success'
                >New</span>{{/if}}
            </div>
            <div class='card-body'>
              <p class='card-text'>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>
<hr />

<section>
  <div>
      {{#with goodsBlock}}
        <ul class='nav nav-tabs'>
            {{#each tabs}}
              <li class='nav-item'>
                <a class='nav-link' {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}} 
                aria-current='page' 
                href='#'>{{text}}</a>
              </li>
            {{/each}}
        </ul>
        <br>
        <div class='row'>
            {{#each cards}}
                  <div class='col-4'>
                    {{> shopcard}}
                  </div>
            {{/each}}
        </div>
      {{/with}}
    </ul>
  </div>
</section> 
<hr> 
<section>
  <div class="card text-bg-dark" >
    {{#with subscribe}}
    <div class="card-body">
      <p class="h2">{{header}}</p>
      <p class="card-text">{{description}}</p>
        <div>
          {{#each buttons}}
          <div class="mb-2">
              <a href={{link}} class="btn btn-primary">{{text}}</a>
          </div>
            
          {{/each}}
        </div> 
    </div>
    {{/with}}
  </div>
</section>
<hr>
<section>
{{> shopaction}}
</section>
<hr>
