<br>
<section>
  <div>
    {{#with header}}
      <h1>{{title}}</h1>
      {{#with button}}
        <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
      {{/with}}
    {{/with}}
  </div>
  <br>
  <br>
  <hr>
</section>
<br>

<section>
  <div>
      {{#each goodsBlock}} 
        {{> cartGoodsItem}}
        <br>
      {{/each}}
    </div>
  </div>
  <br>
  <hr>
</section>

<section>
  <div>
    {{#with total}}
      <h3>{{title}}</h3>
      <div style="font-size: 38px;">{{amount}}</div>
      <div>{{delivery}}</div>
      <br>
      {{#each buttons}}
        {{#if isSuccess}}
        <a href="{{link}}" class="btn btn-success">{{text}}</a>
        
        {{/if}}
        <br>
        {{#if isOutline}}
        <a href="{{link}}" class="btn btn-outline-success">{{text}}</a>
        {{/if}}
      {{/each}}
    {{/with}}
  </div>
  <br>
  <hr>
</section>

<section>
  <div>
    {{#with goodsOtherBlock}}
    <h3 class="text-center">{{title}}</h3>
    <br>
    <div class='row'>
        {{#each cards}}
                <div class='col-4'>
                {{> shopcard}}
                </div>
        {{/each}}
    </div>
    {{/with}}
  </div>
  <br>
  <hr> 
</section> 


<section>
  <div class="card text-bg-dark" >
    {{#with subscribe}}
    <div class="card-body">
      <p class="h2">{{header}}</p>
      <p class="card-text">{{description}}</p>
      <div>
        {{#each buttons}}
        <div class="mb-2">
            <a href={{link}} class="btn btn-primary">{{text}}</a>
        </div>
        {{/each}}
      </div> 
    </div>
    {{/with}}
  </div>
  <br>
  <br>
  <hr>
</section>

