<div class="card">
    <div class="row">
        <img class='col-2' src='{{image}}' />
                
        <div class="col-5 mt-2">
            <h5 class='card-title'>{{name}}</h5>
            <p class='card-text'>{{description}}</p>
        </div>
        <div class="col-2 mt-4">
            <div style="text-align: center;">
                <strong>
                    {{#with price}}
                    <div>{{title}}: </div>
                    <div>{{value}}</div>
                    {{/with}}
                </strong>
            </div>
        </div>
        <div class="col-1 mt-4">{{amount}}</div>
        
            <div class="col-2 mt-3">
                {{#each buttons}}
                    {{#if isPrimary}}
                    <button type="button" class="btn btn-primary">{{text}}</button>
                    {{/if}}
                    <br>
                    {{#if isDanger}}
                    <button type="button" class="btn btn-outline-danger">{{text}}</button>
                    {{/if}}
                {{/each}}    
            </div>
       
    </div>
    
</div>